.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; /* Assurez-vous que le canevas se trouve au-dessus des points */
}

.router-image {
  width: 70px; /* Taille de l'image */
  height: auto;
}

.canvas-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.line {
  position: absolute;
  z-index: 1;
}

.canvas-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.button-container {
  display: inline-block;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition: padding 0.3s; /* Ajout de la transition pour l'animation */
}

.button:hover {
  background-color: #45a049;
}

.button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.button.active {
  padding: 20px; /* Augmente la taille du padding lorsque le bouton est actif */
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
