.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.as-container {
  margin-top: 20px ;
  margin-bottom: 20px ;
  width: 100%;
  height: 70px;
  overflow-x: hidden;
  overflow-y: auto; /* Masquer la barre de défilement verticale */
  border: 2px solid black;
}

.as-container::-webkit-scrollbar {
  display: block; /* Masquer la barre de défilement de Webkit */
}

.button-container {
  display: inline-block; /* Permet aux boutons de se comporter comme des éléments en ligne */
}

.rectangle {
  width: 1200px; /* Ajustez la largeur selon vos besoins */
  height: 50px; /* Ajustez la hauteur selon vos besoins */
  padding: 10px;
  justify-content: flex-start; /* Alignez les éléments à gauche */
  display: flex; /* Ajoutez cette propriété pour permettre la mise en page flex */
}

.rectangle button {
  margin-right: 10px; /* Espacement entre les boutons, vous pouvez ajuster selon vos préférences */
}
/* Style du curseur de défilement pour les navigateurs Webkit */
.as-container::-webkit-scrollbar {
  width: 12px; /* Largeur du curseur de défilement */
}

.as-container::-webkit-scrollbar-track {
  background-color: #b0a9a9db; /* Couleur de fond de la piste du curseur */
}

.as-container::-webkit-scrollbar-thumb {
  background-color: #585555; /* Couleur du curseur */
  border-radius: 6px; /* Rayon de bordure du curseur */
}

.rectangle button {
  margin: 5px;
}

.router-image {
  width: 30px; /* Taille de l'image */
  height: auto;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
