.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.as-container {
  margin-top: 20px ;
  margin-bottom: 20px ;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto; /* Masquer la barre de défilement verticale */
  border: 2px solid black;
}

.as-container::-webkit-scrollbar {
  display: none; /* Masquer la barre de défilement de Webkit */
}

.button-container {
  display: inline-block; /* Permet aux boutons de se comporter comme des éléments en ligne */
}

.rectangle {
  width: 1200px; /* Largeur maximale du rectangle */
  padding: 10px;
  display: flex; /* Ajoutez cette propriété pour permettre la mise en page flex */
  flex-wrap: wrap; /* Permettre le passage à la ligne */
  justify-content: flex-start; /* Alignez les éléments à gauche */
}

.rectangle button {
  margin: 5px;
}

.router-image {
  width: 30px; /* Taille de l'image */
  height: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
